*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);
  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
  font-size: 10px;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("./images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-color: var(--Light-gray);
  background-size: contain;
  overflow: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

.step-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.step1-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--Alabaster);
  border-radius: 1.3rem;
  padding: 1.2rem;
  max-width: 90%;
  min-height: 350px;
  margin-bottom: 12rem;
}

.step1-header,
.step2-header,
.step3-header,
.step4-header,
.step5-header {
  max-width: 100%;
}

.step1-header-title,
.step2-header-title,
.step3-header-title,
.step4-header-title,
.step5-header-title {
  color: var(--Marine-blue);
  margin: 1rem 0 .8rem 0;
  font-size: 2.5rem;
}

.step1-header-par,
.step2-header-par,
.step3-header-par,
.step4-header-par,
.step5-header-par {
  color: var(--Cool-gray);
  font-size: 1.5rem;
  width: 85%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.step1-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 1rem;
}

.label {
  color: var(--Marine-blue);
  margin: 1.2rem 0 .7rem 0;
  text-align: left;
  font-size: 1.5rem;
}

::placeholder {
  color: var(--Cool-gray);
  font-family: 'ubuntu';
  font-weight: medium;
  font-size: 1.4rem;
}

.form-input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 5px;
}

.input-div {
  width: 100%;
  border: 1px solid var(--Cool-gray);
  cursor: pointer;
  border-radius: 5px;
}

.step-footer {
  align-self: flex-end;
  background-color: var(--Alabaster);
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.next-button.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.next-button {
  border: none;
  outline: none;
  background-color: var(--Marine-blue);
  color: var(--Light-gray);
  padding: .9rem 1rem;
  border-radius: .5rem;
  margin-left: auto;
  font-size: 1.5rem;
  cursor: pointer;
}

.back-button {
  border: none;
  outline: none;
  padding: .9rem 1rem;
  border-radius: .5rem;
  background: none;
  color: var(--Cool-gray);
  font-size: 1.5rem;
  cursor: pointer;
}

.step-tracker {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 6rem;
}

.step-circle {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: transparent;
  font-weight: bold;
  border: 1px solid var(--Magnolia);
  color: white;
  font-size: 1.5rem;
  transition: background .6s;
}

.step-circle.active {
  background: var(--Light-blue);
  color: var(--Marine-blue);
  pointer-events: none;
}

.error {
  color: var(--Strawberry-red);
  margin-top: .2rem;
}

.no-addon {
  font-size: 1.2rem;
  color: var(--Marine-blue);
}

.step2-container,
.step3-container,
.step4-container,
.step5-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--Alabaster);
  padding: 1rem .8rem;
  border-radius: 1.3rem;
  max-width: 100%;
  width: 324px;
  margin-bottom: 7.6rem;
}

.step3-container {
  margin-bottom: 15.8rem;
}

.plan-selection-container,
.addons-selection-container,
.finishing-up-container,
.thankyou-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.plans,
.addons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
}

.single-plan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 280px;
  border: 1px solid var(--Light-gray);
  padding: .6rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.8rem;
  background-color: var(--Alabaster);
  cursor: pointer;
}

.addon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 280px;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid var(--Light-gray);
  border-radius: 0.8rem;
  cursor: pointer;
}

.addon .name-description {
  display: flex;
  flex-direction: column;
  margin-left: 1.4rem;
}

.addon .name-description .addon-name {
  font-size: 1.5rem;
  color: var(--Marine-blue);
  margin-bottom: .4rem;
}

.addon .name-description .addon-description {
  font-size: 1.2rem;
  color: var(--Cool-gray);
}

.addon .addon-price {
  color: var(--Purplish-blue);
  font-size: 1.3rem;
  margin-left: auto;
}

.addons .selected-addon {
  border: 1px solid var(--Purplish-blue);
  background-color: var(--Magnolia);
}

.checkmark-container {
  width: 20px;
  height: 20px;
  border: 1px solid var(--Cool-gray);
  border-radius: .4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--White);
  transition: background-color .2s ease, border-color .2s ease;
}

.checked {
  background-color: var(--Purplish-blue);
}

.single-plan .icon {
  flex-shrink: 0;
  margin-right: 1rem;
}

.label-plan {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: .6rem;
}
.label-of-plan {
  font-size: 1.5rem;
  margin-bottom: .4rem;
  color: var(--Marine-blue);
}
.plan {
  color: var(--Cool-gray);
  font-size: 1.2rem;
}
.free-months {
  color: var(--Marine-blue);
  margin: .5rem 0;
}

.plan-selection-input {
  display: none;
}

.toggle-plan-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--Magnolia);
  margin: 2rem 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
}

.toggle-plan-container .span-month {
  margin-left: 2rem;
  font-size: 1.4rem;
  color: var(--Cool-gray);
  transition: color .3s;
}

.toggle-plan-container .span-year {
  margin-right: 2rem;
  font-size: 1.4rem;
  color: var(--Cool-gray);
  transition: color .3s;
}

.toggle-plan-container .is-active {
  color: var(--Marine-blue);
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--Marine-blue); 
  border-radius: 34px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.switch input:checked + .slider {
  background-color: var(--Marine-blue);
}

.switch input:checked + .slider:before {
  transform: translateX(26px);
}

.isSelected {
  background-color: var(--Magnolia);
  border-color: var(--Marine-blue);
}
.single-plan {
  transition: background-color 0.3s ease, border-color 0.2s ease;
}

.step4-container {
  padding: 1rem 1.5rem;
  margin-bottom: 16.9rem;
}

.finishing-up-container {
  width: 100%;
}

.plan-addons-container {
  background-color: var(--Magnolia);
  width: 100%;
  padding: 1rem;
  border-radius: .8rem;
  margin: 1.2rem 0;
}

.selected-plan {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.plan-change-name {
  font-size: 1.5rem;
  color: var(--Marine-blue);
  margin-bottom: .1rem;
}

.plan-change-button {
  border: none;
  outline: none;
  text-decoration: underline;
  background: none;
  color: var(--Cool-gray);
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.plan-change-button:hover {
  color: var(--Purplish-blue);
}

.plan-change-price {
  margin-left: auto;
  color: var(--Marine-blue);
  font-size: 1.4rem;
}

.selected-addons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 1.2rem;
}

.selected-addon {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: .8rem;
}

.summary-addon-name {
  font-size: 1.5rem;
  color: var(--Cool-gray);
}

.summary-addon-price {
  color: var(--Marine-blue);
  font-size: 1.4rem;
}

.total-per-period {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  margin: .5rem 0;
}

.total-name {
  font-size: 1.5rem;
  color: var(--Cool-gray);
}

.total-price {
  color: var(--Purplish-blue);
  font-size: 1.4rem;
  font-weight: 500;
}

.step5-container {
  padding: 5rem 1rem;
  margin-bottom: 14.2rem;
  min-height: 380px;
}

.step5-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step5-header-par {
  text-align: center;
  line-height: 1.4;
}

@media (min-width: 745px) {
  .step1-header-title,
  .step2-header-title,
  .step3-header-title,
  .step4-header-title,
  .step5-header-title {
    font-size: 2.6rem;
  }

  .step1-header-par,
  .step2-header-par,
  .step3-header-par,
  .step4-header-par,
  .step5-header-par {
    font-size: 1.6rem;
  }

  .label {
    font-size: 1.6rem;
  }

  .form-input {
    font-size: 1.6rem;
  }

  .input-div:hover {
    border-color: var(--Marine-blue);
  }

  .step2-container,
  .step3-container,
  .step4-container,
  .step5-container {
    width: 365px;
  }

  .single-plan,
  .addon {
    width: 300px;
    margin-bottom: 1.3rem;
  }

  .single-plan:hover,
  .addon:hover {
    border-color: var(--Marine-blue);
  }

  .back-button {
    transition: color .3s;
  }
  .back-button:hover {
    color: var(--Marine-blue);
  }

  .next-button {
    transition: background-color .3s;
  }
  .next-button:hover {
    background-color: var(--Purplish-blue);
  }

  .label-of-plan,
  .addon-name {
    font-size: 1.6rem;
  } 

  .plan,
  .addon-description {
    font-size: 1.3rem;
  }

  .free-months {
    font-size: 1.2rem;
  }

  .span-month,
  .span-year {
    font-size: 1.6rem;
  }
}

@media (min-width: 1020px) {
  .step2-container,
  .step3-container,
  .step4-container,
  .step5-container {
    width: 380px;
  }

  .single-plan,
  .addon {
    width: 320px;
  }
}

@media (min-width: 1116px) {
  body {
    background-image: url(../public/images/bg-sidebar-desktop.svg);
    background-color: var(--Alabaster);
  }

  .main-container {
    display: grid;
    grid-template-columns: 280px 1fr;
    min-height: 100vh;
  }

  .main-content-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .step-content {
    flex-grow: 1;
  }
  
  .step-footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--Alabaster);
    width: 700px;
    align-self: center;
  }

  .step1-container,
  .step2-container,
  .step3-container,
  .step4-container,
  .step5-container {
    align-items: flex-start;
    margin: 0;
    width: 500px;
  }

  .step1-header,
  .step2-header,
  .step3-header,
  .step4-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
  }

  .step5-header {
    margin-top: 2rem;
  }

  .step1-header-title,
  .step2-header-title,
  .step3-header-title,
  .step4-header-title,
  .step5-header-title {
    font-size: 2.8rem;
  }

  .step1-header-par,
  .step2-header-par,
  .step3-header-par,
  .step4-header-par,
  .step5-header-par {
    font-size: 1.6rem;
    width: 100%;
  }

  .label {
    font-size: 1.6rem;
  }

  .form-input {
    font-size: 1.6rem;
  }

  .error {
    font-size: 1.2rem;
  }

  .plans {
    flex-direction: row;
    width: 100%;
  }

  .single-plan {
    width: 150px;
    flex-direction: column;
    align-items: flex-start;
    margin: 1.2rem;
    height: 200px;
  }

  .label-plan {
    margin-top: 8rem;
  }

  .addons {
    width: 100%;
  }

  .addon {
    width: 450px;
    margin-bottom: 2rem;
    height: auto; 
    padding: 2rem;
  }

  .plan-addons-container {
    padding: 2rem 1.5rem;
    margin: 1.6rem 0;
  }

  .selected-plan {
    margin-bottom: 1.6rem;
  }

  .selected-addons {
    margin-top: 1.6rem;
  }

  .selected-addon {
    margin: 1rem 0;
  }

  .step-tracker {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 2rem;
    margin-top: 3rem;
  }

  .step-circle {
    margin-bottom: 3rem;
  }

  .step {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .step-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 2.6rem;
    margin-left: 2rem;
  }

  .step-info .step-num {
    font-size: 1.4rem;
    color: var(--Pastel-blue);
    margin-bottom: .2rem;
  }

  .step-info .step-description {
    color: var(--White);
    font-size: 1.6rem;
    margin-top: .2rem;
  }
}