*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);
  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
  font-size: 10px;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("./images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-color: var(--Light-gray);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

.step-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.step1-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--Alabaster);
  border-radius: 1.3rem;
  padding: 1.2rem;
  max-width: 90%;
  min-height: 350px;
  margin-bottom: 12rem;
}

.step1-header,
.step2-header {
  max-width: 100%;
}

.step1-header-title,
.step2-header-title {
  color: var(--Marine-blue);
  margin: 1rem 0 .8rem 0;
  font-size: 2.5rem;
}

.step1-header-par,
.step2-header-par {
  color: var(--Cool-gray);
  font-size: 1.5rem;
  width: 85%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.step1-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 1rem;
}

.label {
  color: var(--Marine-blue);
  margin: 1.2rem 0 .7rem 0;
  text-align: left;
  font-size: 1.5rem;
}

::placeholder {
  color: var(--Cool-gray);
  font-family: 'ubuntu';
  font-weight: medium;
  font-size: 1.4rem;
}

.form-input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 5px;
}

.input-div {
  width: 100%;
  border: 1px solid var(--Cool-gray);
  cursor: pointer;
  border-radius: 5px;
}

.step-footer {
  align-self: flex-end;
  background-color: var(--Alabaster);
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.next-button.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.next-button {
  border: none;
  outline: none;
  background-color: var(--Marine-blue);
  color: var(--Light-gray);
  padding: .9rem 1rem;
  border-radius: .5rem;
  margin-left: auto;
  font-size: 1.5rem;
}

.back-button {
  border: none;
  outline: none;
  padding: .9rem 1rem;
  border-radius: .5rem;
  background: none;
  color: var(--Cool-gray);
  font-size: 1.5rem;
}

.step-tracker {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 6rem;
}

.step-circle {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: transparent;
  font-weight: bold;
  border: 1px solid var(--Magnolia);
  color: white;
  font-size: 1.5rem;
  transition: background .6s;
}

.step-circle.active {
  background: var(--Light-blue);
  color: var(--Marine-blue);
  pointer-events: none;
}

.error {
  color: var(--Strawberry-red);
  margin-top: .2rem;
}

.step2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--Alabaster);
  padding: 1rem .8rem;
  border-radius: 1.3rem;
  max-width: 100%;
  width: 324px;
  margin-bottom: 7.6rem;
}

.plan-selection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.plans {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
}

.single-plan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 280px;
  border: 1px solid var(--Light-gray);
  padding: .6rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.8rem;
  background-color: var(--Alabaster);
  cursor: pointer;
}

.single-plan .icon {
  flex-shrink: 0;
  margin-right: 1rem;
}

.label-plan {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: .6rem;
}
.label-of-plan {
  font-size: 1.5rem;
  margin-bottom: .4rem;
  color: var(--Marine-blue);
}
.plan {
  color: var(--Cool-gray);
  font-size: 1.2rem;
}
.free-months {
  color: var(--Marine-blue);
  margin: .5rem 0;
}

.plan-selection-input {
  display: none;
}

.toggle-plan-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--Magnolia);
  margin: 2rem 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
}

.toggle-plan-container .span-month {
  margin-left: 2rem;
  font-size: 1.4rem;
  color: var(--Cool-gray);
  transition: color .3s;
}

.toggle-plan-container .span-year {
  margin-right: 2rem;
  font-size: 1.4rem;
  color: var(--Cool-gray);
  transition: color .3s;
}

.toggle-plan-container .is-active {
  color: var(--Marine-blue);
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--Marine-blue); 
  border-radius: 34px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.switch input:checked + .slider {
  background-color: var(--Marine-blue);
}

.switch input:checked + .slider:before {
  transform: translateX(26px);
}